#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

/* Estilo da Barra de Rolagem SISMOG (Menu Lateral) */
.custom-sidebar-scroll {
  scrollbar-width: thin; /* Firefox */
  scrollbar-color: #334155 transparent; /* Firefox */
}

/* Chrome, Edge, Safari */
.custom-sidebar-scroll::-webkit-scrollbar {
  width: 6px;
}

.custom-sidebar-scroll::-webkit-scrollbar-track {
  background: transparent;
}

.custom-sidebar-scroll::-webkit-scrollbar-thumb {
  background-color: #334155; /* slate-700 */
  border-radius: 20px;
  border: 2px solid transparent; /* Cria um respiro */
  background-clip: content-box;
}

.custom-sidebar-scroll::-webkit-scrollbar-thumb:hover {
  background-color: #475569; /* slate-600 */
}
